<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.shoppingly" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <activity android:name="com.app.shoppingly.activities.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.app.shoppingly.activities.AdminLoginScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.app.shoppingly.activities.ViewOrdersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.app.shoppingly.activities.ViewOrdersHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.app.shoppingly.activities.ViewUserLocationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.app.shoppingly.activities.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.app.shoppingly.activities.AddItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.app.shoppingly.activities.PaymentDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.app.shoppingly.activities.PayPalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.app.shoppingly.activities.FullScreenImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.app.shoppingly.activities.ItemDetailsActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.app.shoppingly.activities.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.app.shoppingly.activities.VerificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.app.shoppingly.activities.AuthenticationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.app.shoppingly.activities.UserLoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.shoppingly.activities.UserActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>